/* Forma a estrutura do header */
header{
  background-image: linear-gradient(45deg, rgb(248, 248, 233), white, gray, rgb(39, 38, 38));
  border-bottom-color: darkgray;
  border-bottom-width: 1px;
  border-bottom-style: solid;

  height: 60px;

  display: flex;
  justify-content: space-between;
  flex-direction: row;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  
}

.lado-esquerdo{
  display: flex;
  align-items: center;
}

.logo-vitoria{
  width: 50px;
  margin-left: 25px;
  margin-top: 5px;
  display: flex;
  cursor: pointer;
  transition: opacity 0.5s;
}

.logo-vitoria:hover{
  margin-top: 80px;
  width: 100px;
  opacity: 0.8;
}

.logo-vitoria:active {
  opacity: 0.5;
}


/* Estilo para o corpo da página */
body {
  background-color: #f7f7f7;
  font-family: Arial, sans-serif;
  font-size: 16px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../images/pavilhao.png");
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 800px;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
}

.texto-adicionar{
  font-size: 40px;
  color: white;
  margin-top: 50px;
  text-align: center;
  background-image: linear-gradient(45deg, white, gray, black);
  border-radius: 10px;
  padding: 10px;
}

.texto{
  font-family: 'Segoe UI', sans-serif; /* adiciona uma fonte mais moderna */
  font-weight: bold; /* torna o texto mais forte e destacado */
  text-shadow: 2px 2px 2px #000000; /* adiciona uma sombra ao texto para que ele se destaque mais no fundo */
}

h1 {
  margin: 0 0 20px 0;
  font-size: 36px;
}

/* Estilo para o conteúdo central da página */
.corpo-central {
  margin: 50px auto;
  max-width: 800px;
  padding: 40px;
  background-image: linear-gradient(45deg, white, gray, black);
  border: none;
  border-radius: 5px;
}


label {
  display: inline-block;
  margin-bottom: 5px;
  font-weight: bold;
}


input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"] {
  padding: 10px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 15px;
  background-color: rgb(240, 240, 218);
  border-color: rgb(173, 173, 4);
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="password"]:focus {
  border-color: #ffc107;
}

.botao-submit {
  background-color: #007bff;
  color: #ffffff;
  border: none;
  padding: 10px 25px 10px 25px ;
  border-radius: 5px;
  cursor: pointer;
}

.botao-submit:hover {
  background-color: #0056b3;
}

.botao-submit:active {
  opacity: 0.6;
}

.botao-pai{
  display:flex ;
  justify-content: space-between;
}

.button-cancelar{
  background-color: rgb(170, 7, 7);
  padding: 10px 25px 10px 25px ;
  color: white;
  font-weight: bold;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: opacity 0.1;
}

.button-cancelar:hover{
  opacity: 0.8;
}

.button-cancelar:active{
  opacity: 0.6;
}


 /* Forma a estrutura do footer*/
 footer {
  background-color: #3a3838;
  color: white;
  padding-top: 20px;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  margin-top: 20px;
  margin-left: 0;
  margin-right: 0;
  border-radius: 5px;
}

/*impede que o rodape fique estatico */
.rodape {
  max-width: 1400px;
  margin: 0 auto;
}