 /* Forma a estrutura do header */
 header{
  background-image: linear-gradient(45deg, rgb(248, 248, 233), white, gray, rgb(39, 38, 38));
  border-bottom-color: darkgray;
  border-bottom-width: 1px;
  border-bottom-style: solid;

  height: 60px;

  display: flex;
  justify-content: space-between;
  flex-direction: row;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;

}

.lado-esquerdo{
  display: flex;
  align-items: center;
}

.logo-vitoria{
  width: 50px;
  margin-left: 25px;
  margin-top: 5px;
  display: flex;
  cursor: pointer;
  transition: opacity 0.5s;
}

.logo-vitoria:hover{
  margin-top: 80px;
  width: 100px;
  opacity: 0.8;
}

.logo-vitoria:active {
  opacity: 0.5;
}


h1{
    align-items: center;
    color: rgb(214, 212, 212);
    align-items: center;
    font-family: 'Segoe UI', sans-serif; /* adiciona uma fonte mais moderna */
    font-weight: bold; /* torna o texto mais forte e destacado */
    text-shadow: 2px 2px 2px #000000; /* adiciona uma sombra ao texto para que ele se destaque mais no fundo */
  }

  body {
    background-color: #f7f7f7;
    font-family: Arial, sans-serif;
    font-size: 16px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../images/pavilhao.png");
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 1000px;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
  }

  .corpo-central{
    background-image: linear-gradient(45deg, rgb(226, 226, 226), gray, black);
    border-radius: 5px;
    text-align: center;
    margin-top: 100px;
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 15px;
  }

  .tabela{
    padding-left: 5px;
    padding-right: 5px;

  }

  button {
    background-color: darkgray;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin-top: 10px;
    font-family: Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
  }

  .button:hover{
    background-color: darkgrey;
  }

  .botao-pai{
    display: flex;
    justify-content: space-between;
      cursor: pointer;
  }

  .botao-criar{
    margin: 10px;
    cursor: pointer;
  }

  .botao-criar:hover{
    opacity: 0.8;
  }

  .botao-criar:active{
    opacity: 0.6;
    cursor: pointer;
  }
  
  .botao-voltar:hover {
    opacity: 0.8;
  }
  
  .botao-voltar:active {
    opacity: 0.8;
    cursor: pointer;
  }

  
  table {
  border-collapse: collapse;
  width: 100%;
  }

  th, td {
    text-align: center;
    padding: 8px;
  }

  th {
    background-color: black;
    color: white;
  }

  tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  tr:hover {
    background-color: #ddd;
  }

  td {
    border: 1px solid #ddd;
  }

  /* Forma a estrutura do footer*/
  footer {
    background-color: #3a3838;
    color: white;
    padding-top: 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    margin-top: 20px;
    margin-left: 0;
    margin-right: 0;
    border-radius: 5px;
  }

  /*impede que o rodape fique estatico */
  .rodape {
    max-width: 1400px;
    margin: 0 auto;
  }