<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Lista de Atletas</title>
  <link rel="stylesheet" href="css/atletas.css">
</head>

<body>
  <header>
    <div class="lado-esquerdo">
        <img class="logo-vitoria" src="images/Logo-Vitoria.png">
    </div>
  </header>

  <div class="corpo-central">
    <div>
      <h1>Coordenadores</h1>
    </div>

    <div>
      <table>
        <tr>
          <div> 
            <th class="tabela">Coordenador ID</th>
          </div>
          <div> 
            <th class="tabela">Nome</th>
          </div>
          <div> 
            <th class="tabela">Equipa</th>
          </div>
        </tr>
        <tr th:each="coordenador : ${coordenador}">
          <td class="tabela" th:text="${coordenador.idCoordenador}"></td>
          <td class="tabela" th:if="${coordenador.user != null}" th:text="${coordenador.user.username}"></td>
            <td class="tabela" th:if="${coordenador.user == null}"></td>
          <td class="tabela" th:text="${coordenador.equipa}"></td>
        </tr>
      </table>
    </div>
    <div class="botao-pai">
      <div class="botao-criar">
        <button class="center" onclick="window.location.href='/coordenador/editarcoordenador'">Editar Coordenador</button>
      </div>
      <div class="botao-criar">
        <button class="center" onclick="window.location.href='/coordenador/removercoordenador'">Remover Coordenador</button>
      </div>
    </div>
    <a href="/equipaTecnica">
        <button>Sair</button>
    </a>
 </div>

  <footer>
    <div class="rodape">
      

    </div>
  </footer>
  <div class="botao-voltar">
    <button class="center" onclick="window.location.href='/home'">Voltar à Página Inicial</button>
  </div>
</body>
</html>



