<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Editar Atleta</title>
  <link rel="stylesheet" href="../css/editaratleta.css">
</head>
<body>
  <header>
    <div class="lado-esquerdo">
      <img class="logo-vitoria" src="../images/Logo-Vitoria.png">
    </div>
  </header>
  
  <div>
    <div class="texto-adicionar">
      <h1 class="texto">Editar Atleta</h1>
    </div>
    
    <div class="corpo-central">
      <form action="/atletas/editaratleta" method="post">
        <div>
          <label for="idAtleta">ID do Atleta:</label>
          <input type="number" id="idAtleta" name="idAtleta" value="" required>
        </div>
        <div>
          <label for="posicao">Posição:</label>
          <input type="text" id="posicao" name="posicao" value="" required>
        </div>
        <div>
          <label for="peso">Peso:</label>
          <input type="number" step="any" id="peso" name="peso" value="" required>
        </div>
        <div>
          <label for="altura">Altura:</label>
          <input type="number" step="any" id="altura" name="altura" value="" required>
        </div>
        <div>
          <label for="percentMassaMuscular">Percentagem de Massa Muscular:</label>
          <input type="number" step="any" id="percentMassaMuscular" name="percentMassaMuscular" value="" required>
        </div>
        <div>
          <label for="percentMassaGorda">Percentagem de Massa Gorda:</label>
          <input type="number" step="any" id="percentMassaGorda" name="percentMassaGorda" value="" required>
        </div>
        <div>
          <label for="imc">IMC:</label>
          <input type="number" step="any" id="imc" name="imc" value="" required>
        </div>
        <div>
          <label for="impulsao">Impulsão:</label>
          <input type="number" step="any" id="impulsao" name="impulsao" value="" required>
        </div>
        <div>
          <label for="forca">Força:</label>
          <input type="number" step="any" id="forca" name="forca" value="" required>
        </div>
        <div class="botao-pai">
          
          <button class="botao-submit" type="submit">Salvar</button>
          <button class="button-cancelar" type="button" onclick="window.location.href='/atletas'">Cancelar</button>
        
        </div>
      </form>
    </div>
  </div>

  <footer>
    <div class="rodape">
      <P>

      </P>
    </div>
  </footer>
</body>
</html>
