<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Login</title>
  <link rel="stylesheet" href="../css/login.css">

  <style>

 </style>
</head>

<body>
    <header>
      <div class="lado-esquerdo">
        <img class="logo-vitoria" src="images/Logo-Vitoria.png">
      </div>
    </header>
  <div>
    <h1>Seja bem-vindo(a) à página de Login!</h1>
    <form method="POST" action="/login">
      <div class="conteudo-area">
        <ion-icon name="person-outline"></ion-icon>
        <label for="username">Username: </label>
        <input type="text" id="username" name="username"><br><br>
      </div>
      <div class="conteudo-area">
        <ion-icon name="lock-closed-outline"></ion-icon>
        <label for="password">Password: </label>
        <input type="password" id="password" name="password"><br><br>
      </div>

      <div class="botao-login">
        <input type="submit" value="Login" class="submit">
     </div>
  
    </form>
  </div>
  <footer>
    <div class="rodape">
      <P>
    
      </P>
    </div>
    </footer>
  </div>

  <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

</body>
</html>

