<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Perfil de Utilizador</title>
  <link rel="stylesheet" href="../css/perfil.css">
</head>
<body>
  <header>
    <div class="lado-esquerdo">
      <img class="logo" src="../images/icone-sport.png">
    </div>
  </header>
  <div class="caixa-div">
    <div class="zona-perfil-utilizador">
      <h1>Meu Perfil</h1>
    </div>
    <div class="perfil-info">
      <div>
        <p>Nome de Utilizador:</p>
        <span th:text="${user.username}"></span>
      </div>
      <div>
        <p>Data de Nascimento:</p>
        <span th:text="${user.dataNasc}"></span>
      </div>
      <div>
        <p>Email:</p>
        <span th:text="${user.email}"></span>
      </div>
      <div>
        <p>Telefone:</p>
        <span th:text="${user.telefone}"></span>
      </div>
    </div>
    <div class="botao-editar">
        <button class="center" onclick="window.location.href='/perfil/editarperfil'">Editar Perfil</button>
    </div>
    <div class="botao-voltar">
      <button class="center" onclick="window.location.href='/home'">Voltar à Página Inicial</button>
    </div>
  </div>

  <footer>
    <div class="rodape">
      <P>
      
      </P>
    </div>
  </footer>

</body>
</html>